<!DOCTYPE html>
<html>
    <head>
        <style>
            #videoPlayer {
                position: fixed;
                right: 0;
                bottom: 0;
                min-width: 100%;
                min-height: 100%;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/dash.all.min.js"></script>
        <script src="js/view.js"></script>
    </head>
    <body>
        <video id="videoPlayer" controls></video>
    </body>
    
</html>